<?xml version="1.0"?>
<config>    
    <modules>
        <Etheme_Dresscodenavigation>
            <version>0.1.0</version>
        </Etheme_Dresscodenavigation>
    </modules>
	<global>
        <helpers>
            <dresscodenavigation>
                <class>Etheme_Dresscodenavigation_Helper</class>
            </dresscodenavigation>
        </helpers>
        <blocks>
             <dresscodenavigation>
                <class>Etheme_Dresscodenavigation_Block</class>
             </dresscodenavigation>
        </blocks>
    </global>
</config>