<?xml version="1.0"?>
<config>
    <modules>
        <Etheme_Dresscodeconfig>
            <version>0.2.0</version>
        </Etheme_Dresscodeconfig>
    </modules>
	<adminhtml>
        <layout>
            <updates>
                <dresscodeconfig>
                    <file>dresscodeconfig.xml</file>
                </dresscodeconfig>
            </updates>
        </layout>
        <menu>
            <etheme>
                <title>eTheme</title>
                <sort_order>10000</sort_order>
                <children>
                    <dresscode>
                        <title>DressCode</title>
                        <sort_order>1</sort_order>
                        <children>
                            <settings>
                                <title>Theme Options</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/system_config/edit/section/dresscodeconfig</action>
                            </settings>
                            <install>
                                <title>Theme Install/Uninstall</title>
                                <sort_order>2</sort_order>
                                <action>dresscodeconfig/adminhtml_installtemplate</action>
                            </install>
                        </children>
                    </dresscode>
                </children>
            </etheme>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
			                <children>
			                    <config>
			                        <children>
			                            <dresscodeconfig>
			                                <title>Dresscode Template Settings</title>
			                            </dresscodeconfig>
			                        </children>
			                    </config>
			                </children>
			            </system>
                        <etheme translate="title">
                            <title>eTheme</title>
                            <sort_order>10000</sort_order>
                            <children>
                                <dresscode>
                                    <title>Dresscode</title>
                                    <children>
                                        <settings>
                                            <title>Template Settings</title>
                                        </settings>
                                        <install>
                                            <title>Theme install/uninstall</title>
                                        </install>
                                    </children>
                                </dresscode>
                            </children>
                        </etheme>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <dresscodeconfig>
                <use>admin</use>
                <args>
                    <module>Etheme_Dresscodeconfig</module>
                    <frontName>dresscodeconfig</frontName>
                </args>
            </dresscodeconfig>
        </routers>
    </admin>
	<global>
        <models>
            <dresscodeconfig>
                <class>Etheme_Dresscodeconfig_Model</class>
            </dresscodeconfig>
        </models>
        <helpers>
            <dresscodeconfig>
                <class>Etheme_Dresscodeconfig_Helper</class>
            </dresscodeconfig>
        </helpers>
        <blocks>
            <dresscodeconfig>
                <class>Etheme_Dresscodeconfig_Block</class>
            </dresscodeconfig>
        </blocks>
        <resources>
            <dresscodeconfig_setup>
                <setup>
                    <module>Etheme_Dresscodeconfig</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dresscodeconfig_setup>
            <dresscodeconfig_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </dresscodeconfig_write>
            <dresscodeconfig_read>
               <connection>
                <use>core_read</use>
              </connection>
            </dresscodeconfig_read>
        </resources>
    </global>
	<default>
		<dresscodeconfig>
			<dresscodeconfig_mainfront>
                <body_bg_color></body_bg_color>
                <font_color></font_color>
                <deal_of_day></deal_of_day>
                <font>Open Sans</font>
                <bg_pattern>spacer</bg_pattern>
                <tagcloud>flash</tagcloud>
                <imagehover>1</imagehover>
				<color>#d80000</color>
                <ajax_buttons>1</ajax_buttons>
			</dresscodeconfig_mainfront>
            <dresscodeconfig_productlabels>
				<product_sale_label>1</product_sale_label>
				<product_sale_label_position>top_left</product_sale_label_position>
                <product_new_label>1</product_new_label>
				<product_new_label_position>bottom_right</product_new_label_position>
			</dresscodeconfig_productlabels>
            <dresscodeconfig_socials>
                <twitter>themeforest</twitter>
                <fbid>themeforest</fbid>
            </dresscodeconfig_socials>
		</dresscodeconfig>
	</default>
</config>