{* This is a comment block

Available vars in this template:
  - $userName           User name
  - $applicationName    Application name
  - $status             Token new status

Use vars: {{var var_name}}
*}<!--@subject Welcome, {{var name}} @-->
<!--@vars
{"htmlescape var=$userName":"User name",
"var $applicationName":"Application name",
"var $status":"Token new status"}
@-->

Hello, {{htmlescape var=$userName}}<br /><br />
Votre autorisation dans <b>{{htmlescape var=$applicationName}}</b> a été changée en <b>{{htmlescape var=$status}}</b> par le groupe Admin.<br /><br />
