<?xml version="1.0"?>
<config>
    <modules>
        <Offi_CustomerAttribute>
            <version>0.4.0</version>
        </Offi_CustomerAttribute>
    </modules>
    <global>        
        <helpers>
            <customerattribute>
                <class>Offi_CustomerAttribute_Helper</class>
            </customerattribute>  
        </helpers>
        <models>
            <customerattribute>
                <class>Offi_CustomerAttribute_Model</class>
                <resourceModel>customerattribute_mysql4</resourceModel>
            </customerattribute>  
            <customerattribute_mysql4>
                <class>Offi_CustomerAttribute_Model_Mysql4</class>
                <entities>
                    <attributemetada>
                        <table>customer_arrtibute_metadata</table>
                    </attributemetada>
                    
                    <descriptions>
                        <table>customer_arrtibute_metadata_descriptions</table>
                    </descriptions>
                </entities>
            </customerattribute_mysql4>
        </models>
        <blocks>
            <customerattribute>
                <class>Offi_CustomerAttribute_Block</class>
            </customerattribute>            
        </blocks>
		
        <resources>
            <customerattribute_setup>
                <setup>
                    <module>Offi_CustomerAttribute</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerattribute_setup>
            <customerattribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerattribute_write>
            <customerattribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerattribute_read>
        </resources>
		
    </global>
    <admin>
        <routers>
            <customerattribute>
                <use>admin</use>
                <args>
                    <module>Offi_CustomerAttribute</module>
                    <frontName>customerattribute</frontName>
                </args>
            </customerattribute>
        </routers>
    </admin>
    <adminhtml>
        <menu>                        
            <customer>
                <children>                  
                    <customerattribute_adminhtml_index>
                        <title>Customer Attributes Manager</title>
                        <action>customerattribute/adminhtml_index</action>
                        <sort_order>12</sort_order>
                    </customerattribute_adminhtml_index>                                                                           				                                                                             
                </children>                    
            </customer>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Offi_CustomerAttribute>
                            <title>Customer Attribute Module</title>
                            <sort_order>10</sort_order>
                        </Offi_CustomerAttribute>
                    </children>                   
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <customerattribute>
                    <file>offi_customer_attribute.xml</file>
                </customerattribute>                
            </updates>
        </layout>
    </adminhtml>
</config>