<!--@subject Meetlive Form@-->
<!--@vars
{"var name":"Sender Name",
"var email":"Sender Email",
"var comment":"Comment"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:13px Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; margin:0; padding:0;">
    <div style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td align="center" valign="top" style="padding:20px 0 20px 0">
                    <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="500" style="border:1px solid #E0E0E0;">
                        <tr>
                            <td colspan="2" style="background-color: #E1E0E5; border-color:#e1e0e5; color: #000;">Номинации VESTORO</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold" width="25%">название</td>
                            <td>{{var name}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Электронная почта</td>
                            <td>{{var email}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">мобильный</td>
                            <td>{{var telephone}}</td>
                        </tr>
						<tr>
                            <td style="font-weight: bold">Сроки выбора</td>
                            <td>{{var day}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Ближайший город</td>
                            <td>{{var nearest_city}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Подходит время</td>
                            <td>{{var suitable_time}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ваше назначение было забронировать с VESTORO. Наша команда будет вернуться к вам в течение 24 часов, если не раньше.</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>