<?xml version="1.0"?>
<config>
    <modules>
        <Etheme_Dresscodeslider>
            <version>0.1.0</version>
        </Etheme_Dresscodeslider>
    </modules>
    <frontend>
        <layout>
            <updates>
                <dresscodeslider>
                    <file>etheme_dresscodeslider.xml</file>
                </dresscodeslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<dresscodeslider>
				<use>admin</use>
				<args>
					<module>Etheme_Dresscodeslider</module>
					<frontName>dresscodeslider</frontName>
				</args>
			</dresscodeslider>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<etheme translate="title">
				<title>eTheme</title>
				<sort_order>10000</sort_order>
				<children>
					<dresscode translate="title">
                        <title>Dresscode</title>
                        <sort_order>10</sort_order>
                            <children>
                                <dresscodeslider translate="title">
                                    <title>Manage Slider</title>
                                    <sort_order>60</sort_order>
                                    <action>dresscodeslider/adminhtml_dresscodeslider</action>
                                </dresscodeslider>
                            </children>
                    </dresscode>
				</children>
			</etheme>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
                         <system>
                            <children>
                                <config>
                                    <children>
                                        <dresscodeslider>
                                            <title>Dresscode - Slider</title>
                                        </dresscodeslider>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <etheme translate="title">
                            <title>eTheme</title>
                            <sort_order>10000</sort_order>
                            <children>
                                 <dresscode>
                                    <title>Dresscode</title>
                                      <children>
                                        <dresscodeslider>
                                            <title>Manage Slider</title>
                                        </dresscodeslider>
                                     </children>
                                </dresscode>
                            </children>
                        </etheme>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
    <global>
        <models>
            <dresscodeslider>
                <class>Etheme_Dresscodeslider_Model</class>
                <resourceModel>dresscodeslider_mysql4</resourceModel>
            </dresscodeslider>
            <dresscodeslider_mysql4>
                <class>Etheme_Dresscodeslider_Model_Mysql4</class>
                <entities>
                    <dresscodeslider>
                        <table>dresscodeslider</table>
                    </dresscodeslider>
	                <dresscodeslider_store>
                        <table>dresscodeslider_store</table>
                    </dresscodeslider_store>
                </entities>
            </dresscodeslider_mysql4>
       </models>
       <resources>
	      <dresscodeslider_setup>
	        <setup>
	          <module>Etheme_Dresscodeslider</module>
	        </setup>
	        <connection>
	          <use>core_setup</use>
	        </connection>
	      </dresscodeslider_setup>
	      <dresscodeslider_write>
	        <connection>
	          <use>core_write</use>
	        </connection>
	      </dresscodeslider_write>
	      <dresscodeslider_read>
	        <connection>
	          <use>core_read</use>
	        </connection>
	      </dresscodeslider_read>
	    </resources>
        <blocks>
            <dresscodeslider>
                <class>etheme_dresscodeslider_Block</class>
            </dresscodeslider>
        </blocks>
        <helpers>
            <dresscodeslider>
                <class>etheme_dresscodeslider_Helper</class>
            </dresscodeslider>
        </helpers>
    </global>
</config>